/* App.css */

:root {
  --bg-color: #f7f9fc;
  --primary-color: #1e88e5;
  --secondary-color: #64b5f6;
  --text-color: #2e3a59;
  --border-color: #dde4ee;
  --error-color: #e57373;
  --success-color: #4caf50;
}

/* Header styles */
.header {
  background-color: --bg-color;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: --text-color;
  margin: 0;
}

.header-section {
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.05);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.content {
  margin: 25px 20px 0 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
}

.language-options label {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.fields {
  margin-top: 1rem;
}

textarea {
  width: 90%;
  height: 80%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  color: var(--text-color);
  font-family: inherit;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

select {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #fff;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

textarea {
  max-height: 60vh;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
}

textarea::placeholder {
  color: var(--border-color);
}

.fields {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

.inputfield,
.outputfield {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow-y: auto;
  height: 100%;
}

.outputfield textarea {
  background-color: #f0f0f0;
  color: #555;
  resize: none;
  cursor: not-allowed;
}

.error {
  color: var(--error-color);
  font-weight: bold;
}

.success {
  color: var(--success-color);
  font-weight: bold;
}
